<section class="d-flex gap-4">
    <div class="w-50">
        <Card HeaderTitle="Compose SMS">
            <Body>
                <EditForm Model="model" OnSubmit="SubmitSms">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label for="senderId" class="form-label">Sender ID</label>
                        <InputSelect id="senderId" class="form-select w-75" @bind-Value="model.SenderID">
                            <option value="" selected>Select Sender ID</option>
                            @foreach (var sender in senderIds)
                            {
                                <option value="@sender.SenderID">@sender.SenderID</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="mb-3">
                        <label for="numbers" class="form-label">Recipient Phone Numbers</label>
                        <InputTextArea id="numbers" class="form-control w-75" @bind-Value="model.PhoneNumber" rows="5" placeholder="Comma separated list"></InputTextArea>
                        <div class="mt-1 d-flex gap-4">
                            <label class="form-label">Select From</label>
                            <div>
                                <InputRadioGroup Value="contactSelection"
                                            ValueExpression="()"
                                            ValueChanged="((string value) => ShowModal(value))">
                                    <div class="form-check form-check-inline">
                                        <InputRadio class="form-check-input" id="bulkFile" Value='@("Bulk Files")' />
                                        <label class="form-check-label" for="bulkFile">Bulk files</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <InputRadio class="form-check-input" id="group" Value='@("Groups")' />
                                        <label class="form-check-label" for="group">Groups</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <InputRadio class="form-check-input" id="allContact" Value='@("All Contacts")' />
                                        <label class="form-check-label" for="allContact">All Contact</label>
                                    </div>
                                </InputRadioGroup>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 w-75">
                        <div class="d-flex justify-content-between">
                            <label for="message" class="form-label">Message</label>
                            <button type="button" class="btn btn-link btn-sm text-decoration-none" @onclick="ClearMessage">Clear Message</button>
                        </div>
                        <InputTextArea id="message" class="form-control" @bind-Value="model.MessageText" @oninput="HandleMessageInput" rows="5"></InputTextArea>
                        <div>@_counterText</div>
                    </div>

                    <div class="mb-3">
                        <InputRadioGroup @bind-Value="sendOption">
                            @foreach (var option in sendOptions)
                            {
                                var radioId = $"radio-{option}";
                                <div class="form-check form-check-inline">
                                    <InputRadio class="form-check-input" id="@radioId" Value="@option" />
                                    <label class="form-check-label" for="@radioId">@option</label>
                                </div>
                            }
                        </InputRadioGroup>
                    </div>

                    @if (sendOption == "Schedule for Later")
                    {
                        <div class="mb-3">
                            <label for="schedule" class="form-label">Delivery Time</label>
                            <InputDate id="schedule" Type="InputDateType.DateTimeLocal" class="form-control w-75" @bind-Value="model.DeliveryTime" required />
                        </div>
                    }

                    <Button Type="Button.Style.CUSTOM">Send SMS</Button>
                </EditForm>
            </Body>
        </Card>
    </div>
    <!-- Selected Contacts Badges -->
    @if (selectedContacts.Count > 0)
    {
        <div class="w-50">
            <Card HeaderTitle="Selected Contacts">
                <Body>
                    <div class="row g-1 row-gap-1">
                        @foreach (var contact in selectedContacts)
                        {
                            <div class="col-auto">
                                <span class="d-flex align-items-center gap-1 badge bg-primary">
                                    @contact
                                    <button type="button" class="btn-close btn-close-white btn-sm" aria-label="Close" @onclick="() => RemoveContact(contact)"></button>
                                </span>
                            </div>
                        }
                    </div>

                </Body>
            </Card>
        </div>
    }
</section>
<SelectContactModal TItem="string" @ref="modal" OnPhoneNumbersSelected="AddPhoneNumbers"></SelectContactModal>

@code {
    private SmsMessageRequest model = new();
    private List<SenderIdResponse> senderIds = [];
    private string contactSelection = string.Empty;
    private List<string> sendOptions = ["Send Immediately", "Schedule for Later"];
    private string sendOption = "Send Immediately";
    private SelectContactModal<string> modal = new();
    private List<string> selectedContacts = [];
    private List<string> selectedGroupsAndBulkFiles = [];
    private string _counterText = "";
    private const int _smsMaxParts = 6; // Max SMS length

    protected override async Task OnInitializedAsync()
    {
        var senderResponse = await apiClient.SenderIdListAsync(1, 500);
        if (senderResponse.StatusCode == 200)
        {
            senderIds = senderResponse.Result.ToList();
        }
    }

    private async Task SubmitSms()
    {
        if (sendOption == "Send Immediately")
        {
            model.DeliveryTime = DateTime.UtcNow;
        }

        await apiClient.SmsMessageSendAsync(model);
    }

    private void ClearMessage()
    {
        model.MessageText = string.Empty;
        _counterText = string.Empty;
    }

    private void ShowModal(string value)
    {
        contactSelection = value;
        modal.Show(contactSelection, selectedContacts);
    }

    private void AddPhoneNumbers(List<string> numbers)
    {
        selectedContacts = numbers;
        model.PhoneNumber = string.Join(", ", selectedContacts);
        contactSelection = string.Empty;
        StateHasChanged();
    }

    private void RemoveContact(string contact)
    {
        selectedContacts.Remove(contact);
        model.PhoneNumber = string.Join(", ", selectedContacts);
        modal.UpdateSelectedItems(selectedContacts);
        StateHasChanged();
    }

    private async Task HandleMessageInput(ChangeEventArgs e)
    {
        var strSmsText = e.Value?.ToString();
        int intSMSLen = strSmsText!.GetValidGsmTextLength();

        if (strSmsText?.Length < 1)
        {
            _counterText = "";
            return;
        }

        int intSmsParts = GetMessageParts(strSmsText);

        if (intSmsParts > _smsMaxParts)
        {
            // model.MessageText = strSmsText!.Substring(0, _smsMaxParts);
            await alert.Info("Maximum SMS characters reached!", "alert");
            return;
        }
        
        int intNextMax = intSmsParts == 1 ? 160 : intSmsParts * 153;

        _counterText = intSMSLen + "/" + intNextMax + " . . . Cost: " + intSmsParts + " SMS";
        // if ((intPrevMax > 0) && (intSMSLen == (intPrevMax + 1)))
        // {
        //     await alert.Info($"You have just exceeded {intPrevMax}. You will be charged {intSmsParts} credits for this message!", "alert");
        // }
    }

    private int GetMessageParts(string? input)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            return 0;
        }

        var length = input.GetValidGsmTextLength();

        if(length <= 160)
        {
            return 1;
        }
        
        return (int)Math.Ceiling(length / 153m);
    }
}