@typeparam TItem

<Modal Size="Modal.ModalSize.LARGE" Title="Select Contacts" Hidden="@(!isModalVisible)">
    <Body>
        @if (loading)
        {
            <p>Loading...</p>
        }
        else
        {
            <input type="text" class="form-control mb-2 w-50" placeholder="Search..." @bind="searchQuery" @oninput="OnSearchChanged" />

            <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" @onchange="SelectAllChanged" checked="@selectAllChecked">
                <label class="form-check-label">Select All</label>
            </div>

            <div class="d-flex gap-2 flex-wrap">
                @if (contactSelection == "Bulk Files")
                {
                    @foreach (var bulkFile in PagedItems.OfType<BatchFileResponse>())
                    {
                        <div style="width: 385px" class="form-check">
                            <input class="form-check-input" type="checkbox" value="@bulkFile.Description" @onchange="e => OnItemSelected(e, bulkFile.Description)" checked="@selectedItems.Contains(bulkFile.Description)">
                            <label class="form-check-label" for="bulkFile_@bulkFile.BatchFileID">@bulkFile.Description</label>
                        </div>
                    }
                }
                else if (contactSelection == "All Contacts")
                {
                    @foreach (var contact in PagedItems.OfType<OpenApi.ContactResponse>())
                    {
                        <div style="width: 385px" class="form-check">
                            <input class="form-check-input" type="checkbox" value="@contact.PhoneNumber" @onchange="e => OnItemSelected(e, contact.PhoneNumber)" checked="@selectedItems.Contains(contact.PhoneNumber)">
                            <label class="form-check-label" for="contact_@contact.ContactName">@contact.ContactName<span> (@contact.PhoneNumber)</span></label>
                        </div>
                    }
                }
                else if (contactSelection == "Groups")
                {
                    @foreach (var group in PagedItems.OfType<string>())
                    {
                        <div style="width: 385px" class="form-check">
                            <input class="form-check-input" type="checkbox" value="@group" @onchange="e => OnItemSelected(e, group)" checked="@selectedItems.Contains(group)">
                            <label class="form-check-label">@group</label>
                        </div>
                    }
                }
            </div>

            @if (HasMoreItems)
            {
                <button class="btn btn-link" @onclick="LoadMore">Load More</button>
            }
        }
    </Body>
    <Footer>
        <Button Type="Button.Style.DEFAULT" @onclick="AppendSelectedContacts">Add Contacts</Button>
    </Footer>
</Modal>

@code {
    [Parameter] public string contactSelection { get; set; }
    [Parameter] public EventCallback<List<string>> OnPhoneNumbersSelected { get; set; }

    private List<object> allItems = new();
    private List<object> filteredItems = new();
    private List<object> PagedItems => filteredItems.Take(currentPage * pageSize).ToList();
    private bool loading = true;
    private bool isModalVisible = false;
    private string searchQuery = "";
    private int currentPage = 1;
    private const int pageSize = 20;
    private List<string> selectedItems = new();
    private bool selectAllChecked = false;

    protected override async Task OnParametersSetAsync()
    {
        loading = true;
        allItems.Clear();

        await LoadData();

        filteredItems = allItems;
        loading = false;
    }

    private async Task LoadData()
    {
        if (contactSelection == "Bulk Files")
        {
            var response = await apiClient.BatchFileListAsync();
            if (response.StatusCode == 200)
            {
                allItems.AddRange(response.Result);
            }
        }
        else if (contactSelection == "All Contacts")
        {
            var response = await apiClient.ContactListAsync();
            if (response.StatusCode == 200)
            {
                allItems.AddRange(response.Result);
            }
        }
        else if (contactSelection == "Groups")
        {
            var response = await apiClient.GroupListAsync();
            if (response.StatusCode == 200)
            {
                allItems.AddRange(response.Result);
            }
        }
    }

    private void OnItemSelected(ChangeEventArgs e, string item)
    {
        if ((bool)e.Value)
        {
            selectedItems.Add(item);
        }
        else
        {
            selectedItems.Remove(item);
            selectAllChecked = false;
        }
    }

    private void SelectAllChanged(ChangeEventArgs e)
    {
        if ((bool)e.Value)
        {
            selectedItems = new List<string>(filteredItems.Select(item => item.ToString()));
        }
        else
        {
            selectedItems.Clear();
        }
        selectAllChecked = (bool)e.Value;
    }

    private bool CheckIfAllSelected()
    {
        return filteredItems.All(item => selectedItems.Contains(item.ToString()));
    }

    private void AppendSelectedContacts()
    {
        OnPhoneNumbersSelected.InvokeAsync(selectedItems);
        Close();
    }

    public void Show(string contactSelection, List<string> currentSelectedItems)
    {
        this.contactSelection = contactSelection;
        selectedItems = currentSelectedItems;
        isModalVisible = true;
        StateHasChanged();
    }

    public void Close()
    {
        isModalVisible = false;
        StateHasChanged();
    }

    public void UpdateSelectedItems(List<string> currentSelectedItems)
    {
        selectedItems = currentSelectedItems;
        selectAllChecked = CheckIfAllSelected();
        StateHasChanged();
    }

    private void OnSearchChanged(ChangeEventArgs e)
    {
        searchQuery = e.Value?.ToString()!;
        filteredItems = allItems.Where(item => item.ToString()!.Contains(searchQuery!, StringComparison.OrdinalIgnoreCase)).ToList();
        currentPage = 1;
        selectAllChecked = CheckIfAllSelected();
    }

    private void LoadMore()
    {
        currentPage++;
    }

    private bool HasMoreItems => filteredItems.Count > PagedItems.Count;
}
