@typeparam TItem where TItem : class, new()

<EditForm Model="Model" OnValidSubmit="Submit" FormName="@formName">
    <Modal Title="@title" @bind-Hidden="hideModal" Size="@Size">
        <Body>
            <DataAnnotationsValidator />
            <ValidationSummary />
            @ChildContent(Model)
        </Body>
        <Footer>
            <Button Type="@buttonStyle">@buttonText</Button>
        </Footer>
    </Modal>
</EditForm>

@code {
    [Parameter, EditorRequired] public string? LabelText { get; set; }
    [Parameter, EditorRequired] public RenderFragment<TItem?>? ChildContent { get; set; }

    [Parameter] public EventCallback OnDelete { get; set; }
    [Parameter] public EventCallback OnUpdate { get; set; }
    [Parameter] public EventCallback OnCreate { get; set; }
    [Parameter] public EventCallback OnDownload { get; set; }
    [Parameter] public EventCallback OnCompleted { get; set; }
    [Parameter] public Modal.ModalSize Size { get; set; } = Modal.ModalSize.MEDIUM;

    protected override void OnParametersSet()
    {
        formName = LabelText + "Form";
    }

    private int editMode = 0; // 0=create, 1=edit, 2=delete, 3=download
    public TItem Model = new();
    private bool hideModal = true;
    private string? title, buttonText, formName;
    private Button.Style buttonStyle = Button.Style.SAVE;

    public int EditMode => editMode;

    public void Show(TItem? item = null)
    {
        editMode = item == null ? 0 : 1;
        Model = item != null ? item : new();

        title = $"Create New {LabelText}";
        buttonText = $"Create {LabelText}";
        buttonStyle = Button.Style.SAVE;

        if (editMode == 1)
        {
            title = $"Edit {LabelText}";
            buttonText = $"Update {LabelText}";
        }
        hideModal = false;
        StateHasChanged();
    }

    public void Delete(TItem item)
    {
        editMode = 2;
        Model = item;
        title = $"Delete {LabelText}";
        buttonText = $"Delete {LabelText}";
        buttonStyle = Button.Style.DELETE;
        hideModal = false;
        StateHasChanged();
    }

    public void Download(TItem? item = null)
    {
        editMode = 3;
        Model = item != null ? item : new();
        title = $"Download {LabelText}";
        buttonText = $"Download {LabelText}";
        buttonStyle = Button.Style.DOWNLOAD;
        hideModal = false;
        StateHasChanged();
    }

    private async Task Submit()
    {
        try
        {
            switch (editMode)
            {
                case 0:
                    await TryInvokeAsync(OnCreate, "Create");
                    break;
                case 1:
                    await TryInvokeAsync(OnUpdate, "Update");
                    break;
                case 2:
                    await TryInvokeAsync(OnDelete, "Delete");
                    break;
                case 3:
                    await TryInvokeAsync(OnDownload, "Download");
                    break;
                default:
                    await alert.Info($"EditModal.EditMode = [{editMode}] is invalid", "Error");
                    break;
            }
            await OnAfterSuccessAsync();
        }
        // Todo
        catch (ApiException ex)
        {
            if (ex.StatusCode >= 200 && ex.StatusCode < 300)
            {
                await OnAfterSuccessAsync();
                return;
            }
            await alert.Error(ex.FormatApiMessage(), "Error");
        }
        catch (Exception ex)
        {
            await alert.Error(ex.FormatApiMessage(), "Error");
        }
    }

    private async Task OnAfterSuccessAsync()
    {
        await alert.Success($"Operation was successful", "Success");
        hideModal = true;
 
        switch (editMode)
        {
            case 0://create
            case 2://delete
                if (OnCompleted.HasDelegate)
                    await OnCompleted.InvokeAsync();
                break;
        }
    }

    private async Task TryInvokeAsync(EventCallback callback, string name)
    {
        if (!callback.HasDelegate)
        {
            await alert.Info($"On{name} Delegate is missing", "Error");
            return;
        }
        await callback.InvokeAsync();
    }
    
}
