@inject AuthenticationStateProvider auth
@inject Settings settings;


<Modal Title="Buy SMS Credits" Hidden="@(!showModal)" VAlign="Modal.ModalVAlign.CENTER">
    <Body>
        <div class="alert alert-info" role="alert">
            Minimum SMS credit quantity to purchase is 500 sms credit..
        </div>
        @if (showConfirmation)
        {
            <StaticText Label="Unit Price" Text="@("₦" + purchaseResponse.Price.ToString())" />
            <StaticText Label="Purchase Amount" Text="@("₦" + purchaseResponse.Amount.ToString())" />
            <StaticText Label="SMS Quantity" Text="@purchaseResponse.Quantity.ToString()" />
            <StaticText Label="Transaction Fee" Text="@("₦" + ((decimal)purchaseResponse.Amount * 0.015M).ToString("#,##0.00"))" />
            <StaticText Label="Total Amount" Text="@("₦" + ((decimal)purchaseResponse.Amount + (decimal)purchaseResponse.Amount * 0.015M).ToString("#,##0.00"))" />
        }
        else
        {
            <EditForm Model="purchaseRequest" OnValidSubmit="BeginPurchase">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <FormInputNumber Label="SMS Quantity" @bind-Value="purchaseRequest.Quantity"></FormInputNumber>
            </EditForm>
        }
    </Body>
    <Footer>
        @if (showConfirmation)
        {
            <Button Type="Button.Style.DEFAULT" @onclick="ConfirmPurchase">Proceed To Pay</Button>
            <button type="button" class="btn btn-secondary" @onclick="CancelConfirmation">Cancel</button>
        }
        else
        {
            <Button Type="Button.Style.DEFAULT"@onclick="BeginPurchase">Buy Credits</Button>
        }
    </Footer>
</Modal>

@code {
    private bool showModal = false;
    private bool showConfirmation = false;
    private PurchaseRequest purchaseRequest = new PurchaseRequest { ProviderID = "PYSTK" };
    private PurchaseResponse purchaseResponse = new PurchaseResponse();
    private string? email;

    public void Show()
    {
        showModal = true;
        showConfirmation = false;
        StateHasChanged();
    }

    private void CancelConfirmation()
    {
        showConfirmation = false;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var member = await ((Authentication.SmsAuthProvider)auth).GetMember();

        if (member != null)
        {
            email = member.Email?.ToLower();
        }
    }

    private async Task BeginPurchase()
    {
        try
        {
            var task = await apiClient.PurchaseBeginAsync(purchaseRequest);

            if (task.StatusCode == 200)
            {
                purchaseResponse = task.Result;
                showConfirmation = true;
            }
            else
            {
                await alert.Error("Failed to initialize purchase.", "Error");
            }
        }
        catch (Exception ex)
        {
            await alert.Error(ex.Message, "Error");
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task ConfirmPurchase()
    {
        try
        {
            // Get the total amount including the transaction fee
            var totalAmount = (decimal)purchaseResponse.Amount + (decimal)purchaseResponse.Amount * 0.015M;

            // Initialize the payment transaction with Paystack
            var callbackUrl = nav.ToAbsoluteUri($"/Wallet/PaymentComplete/{purchaseResponse.Reference}").ToString()
                ?? throw new InvalidOperationException("Callback URL is invalid");
            var result = await paystack.InitializeTransaction(email, totalAmount, callbackUrl, purchaseResponse.Reference);

            if (result != null)
            {
                await js.InvokeVoidAsync("payWithPaystack", email, totalAmount, purchaseResponse.Reference, settings.Paystack.Key);
            }
            else
            {
                await alert.Error("Failed to initialize Paystack transaction.", "Error");
            }
        }
        catch (Exception ex)
        {
            await alert.Error(ex.Message, "Error");
        }
        finally
        {
            showModal = false;
            StateHasChanged();
        }
    }
}
