@inject AuthenticationStateProvider auth
@inject Settings settings;

<Modal Title="Buy SMS Credits" @bind-Hidden="hideModal" VAlign="Modal.ModalVAlign.CENTER">
    <Body>
        <div class="alert alert-info" role="alert">
            Minimum SMS credit quantity to purchase is 500 sms credit..
        </div>
        @if (price != null)
        {
            <StaticText Label="Unit Price" Text="@("₦" + price.Price.ToString())" />
            <StaticText Label="Purchase Amount" Text="@("₦" + price.Amount.ToString())" />
            <StaticText Label="SMS Quantity" Text="@price.Quantity.ToString()" />
            <StaticText Label="Transaction Fee" Text="@("₦" + ((decimal)price.Amount * 0.015M).ToString("#,##0.00"))" />
            <StaticText Label="Total Amount" Text="@("₦" + ((decimal)price.Amount + (decimal)price.Amount * 0.015M).ToString("#,##0.00"))" />
        }
        else
        {
            <EditForm Model="quantity" OnValidSubmit="ConfirmPrice">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <FormInputNumber Label="SMS Quantity" @bind-Value="quantity"></FormInputNumber>
            </EditForm>
        }
    </Body>
    <Footer>
        @if (price != null)
        {
            <Button Type="Button.Style.DEFAULT" @onclick="ConfirmPurchase">Pay with Paystack</Button>
            <Button Type="Button.Style.CANCEL" @onclick="CancelConfirmation">Cancel</Button>
        }
        else
        {
            <Button Type="Button.Style.DEFAULT"@onclick="ConfirmPrice">Confirm Price</Button>
        }
    </Footer>
</Modal>

@code {
    private bool hideModal = true;
    private PriceCalcResponse? price;
    private string email = "";
    private long quantity = 100;

    protected override async Task OnInitializedAsync()
    {
        var member = await ((Authentication.SmsAuthProvider)auth).GetMember();

        if (member == null)
        {
            await alert.Error("Please re-login", "Error");
            return;
        }

        email = member.Email;
    }

    public void Show()
    {
        hideModal = false;
        StateHasChanged();
    }

    private void CancelConfirmation()
    {
        price = null;
    }

    private async Task ConfirmPrice()
    {
        try
        {
            var response = await apiClient.PriceCalculateAsync(null, quantity);

            if (response.StatusCode == 200)
            {
                price = response.Result;
                return;
            }
            throw new Exception("apiClient.PurchaseBeginAsync() Failed");
        }
        catch (Exception ex)
        {
            await alert.Error(ex.Message, "Error");
        }
    }

    private async Task ConfirmPurchase()
    {
        try
        {
            if (price == null)
                throw new Exception("Confirm the price first");

            // Get the total amount including the transaction fee
            var totalAmount = (decimal)price.Amount + (decimal)price.Amount * 0.015M;

            var request = new PurchaseRequest { ProviderID = "PAYSTACK", Quantity = quantity };
            var response = await apiClient.PurchaseBeginAsync(request);

            if (response.StatusCode != 200)
                throw new Exception("apiClient.PurchaseBeginAsync() Failed");

            await js.InvokeVoidAsync("paystackPopup", response.Result.AccessCode);
        }
        catch (Exception ex)
        {
            await alert.Error(ex.Message, "Error");
        }
        finally
        {
            hideModal = true;
        }
    }
}
